html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(90, 90, 90);
}

.header h1{
    color: rgb(36, 33, 33);
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 70px;
    background-color: rgb(190, 0, 0);
    border: 3px solid red; 
}

h2{
    color: rgb(107, 7, 7);
}

body img{
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 4px;
}

ul li{
    list-style: none;
    color: rgb(238, 28, 28);
}

p, li{
    color: rgb(238, 28, 28);
    line-height: 2;
    letter-spacing: 1px;
}

body{
    margin: 0 auto;
    width: 600px;
    padding: 0 20px 20px 20px;
    background-color: rgb(56, 13, 13);
    border: 5px solid black;
}

footer{
    background-color: rgb(77, 0, 0);
}

footer p{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}